/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

:root { 
    --main-color:#E8DBC5 ;
    --sec-color: #202223;
    --terc-color: #d532a7;
    --font-main: 'Mukta', sans-serif;
}
body{
    background-color: var(--main-color);
    font-style: var(--font-main);
    box-sizing: border-box;

}