<section class="container">
    <article class="row justify-content-center align-items-center"> 
        <div class="col-12 mx-auto mt-5 col-md-6 align-items-center">
            <h2 class="text-center w-25 mx-auto">Moonicle</h2>
            <h1 class="text-center">If you gaze in to the future, the future gaze back into you.</h1>
            <p class="w-25 text-center mb-4"><a href="/">Find the best interstellar travel packages</a>

            </p>
            <ul class="d-flex mt-4 flex-row justify-content-between">
                <li>Interstellar Regulation</li>
                <li>Prices</li>
                <li>Support</li>
                <li>IA Digital Secretary</li>
            </ul>
        </div>
        
    </article>
    <div class="col-12 text-center"></div>
    

</section>

