<div class="container">
  <div class="row flex-wrap">
    <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-center" id="media">
      <h1 class="mb-5 mt-4">{{titulo}}<span class="text-danger">Webmancer</span></h1>
      <h3>{{subtituloUm}}</h3><br>
      <p class="p-2">{{subtituloDois}}</p>
      <div class="mt-3 d-flex flex-row justify-content-around align-items-center w-100">
        <fa-icon [icon]="iconGit" size="6x"></fa-icon>
        <fa-icon [icon]="iconWp" size="6x"></fa-icon>
        <fa-icon [icon]="iconLink" size="6x"></fa-icon>
      </div>
      <select class="mt-5 mb-2 form-select-sm mx-auto" aria-label="Disabled select example" [(ngModel)]="option" (change)="changeText()">
        <option value="option1">Português</option>
        <option value="option2">English</option>
      </select>
    </div>
    <div class="col-12 col-md-4 mt-4 mt-md-0 ">
      <app-card></app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 d-flex flex-column align-items-center mt-4">
      <h1 class="mb-4 mt-5"><span class="text-danger">{{tituloResumo}}</span></h1>
      <p>{{resumo}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mt-4">
      <h1 class="ms-5"><span class="text-danger">{{destaque}}</span></h1>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</div>