* {
    color: white;
  }
  .container {
    height: auto; 
  }
  p {
    background-color: #313638;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .row {
    height: auto; 
  }
  
  @media (max-width: 576px) {
    app-card {
      position: static; 
      margin-top: 2rem;
    }
  
    #media {
      position: static; 
      margin-top: 2rem; 
      text-align: center; 
    }
  }
  select {
    color: black;
    max-width: 25vh;
    max-height: 2.3rem;
    text-align: center;
    font-size: 1.3rem;
}
option {
  color: black;
}

a{
  border-radius: 0px;
  padding: 1rem;
}
a:hover {
  background-color: #fafafa;
  border: none;
  border-radius: 65%;
  color: #313638;
  transition: 0.6s ease-in-out;

}
