* {
    color: white;
}
.container {
    height: 150vh;
}
.row {
    height: 60vh;
}
.row:last-child {
    position: fixed;
    
    
}
.x-sign {
    font-size: 3rem;
}
.table {
    font-size: 1.2rem;
}
.row:nth-child(2) {
    overflow: scroll;
}
.border-dark{
    border-left: 1px solid;
    border-color: #121212;
}
@media (max-width: 576px) {
    app-card {
        position: absolute;
        top: 70%;
        left:20%;
    
    }
    #media {
        position: absolute;
        top: 20%;
        
    }
    .box {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 116%;
        width: 100%;
    }
  }