<div class="container">
    <div class="row row-cols-md-3 row-cols-sm-1 gy-0">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center h100">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-center">Recent</div>
                        <ul>
                            <li>Texto 1</li>
                            <li>Texto 1</li>
                            <li>Texto 1</li>
                            <li>Texto 1</li>
                            <li>Texto 1</li>
                            <li>Texto 1</li>
                        </ul>
                        <div class="card-footer text-center"><a href="">Collection</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-center justify-content-center h100">
                <fa-icon [icon]="iconWp" size="7x"></fa-icon>
                <fa-icon [icon]="iconGit" size="7x"></fa-icon>
                <fa-icon [icon]="iconLink" size="7x"></fa-icon>
            </div>
        </div>
        <div class="col">
            <div class="d-flex align-items-center justify-content-center h100">
                <app-card></app-card>
            </div>
        </div>
    </div>
<div class="row gy-0">
    <div class="col-8 mx-auto text-center">
        <div class="card mx-auto" style="width: 70%;">
            <img src="/assets/augusto-dos-anjos.jpg" style="width: 100%;"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Augusto dos Anjos</h5>
              <p class="card-text">"Ambiciono que o idioma em que eu te falo<br>
                Possam todas as línguas decliná-lo<br>
                Possam todos os homens compreendê-lo."</p>
            </div>
          </div>
    </div>
</div>
</div>