img {
    max-height: 250px ;
    max-width: 250px;
    height: 250px;
    width: 250px;
    border-radius: 50%
}
.col-md-8 {
    background-color: #313638;
    padding: 1.5rem;
}
a{ 
    color: white;
    font-size: 1.5rem;
    border: 1px solid white ;
    padding: 1rem;
    margin-top: 15px;
    border-radius: 0.6rem;
}
a:hover {
    background-color: rgb(255, 255, 255);
    color: #313638;
    transition: 1s;
}
@media (max-width: 767px) {
    .col-md-4 {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }
    .col-md-8 {
        padding: 1rem;
    }
    .col-md-4 img {
      margin: auto;
    }
  }