/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}
/* Defines a black background behind a text */
.blackground {
    font-size: 1.1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 1rem;
    padding: 2rem;
}
.obliqueSpan {
    font-size: 1.5rem
}