/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
/* Utilities */
  
/* Presets */
* {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #121212;
    color: #121212;
    overflow: scroll;
   
}
a { 
    text-decoration: none;
    color: #121212;
}
a:hover {
    color: red;
}
ul {
    list-style: none;
}
footer.hide-footer {
    display: none;
  }
