<footer class="container-fluid bg-light">
    <div class="row text-center p-2">
      <div class="col-md-6">
        <p class="developed">Developed by Caio Marques for personal use only.</p>
        <p>Available for professional contact and relocation.<br>Any feedback or constructive criticism is welcome, please send an email to <span class="text-danger">dev.caio.marques@gmail.com.</span></p>
      </div>
  
      <div class="col-md-6 d-flex flex-row justify-content-around">
        <fa-icon [icon]="iconGit" size="6x"></fa-icon>
        <fa-icon [icon]="iconWp" size="6x"></fa-icon>
        <fa-icon [icon]="iconLink" size="6x"></fa-icon>
      </div>
    </div>
  </footer>
  