<header>
   <div class="row">
   <nav>
      <div class="logo">
         CastleTech
      </div>
      <div class="menu">
         <ul class="d-flex flex-row justify-content-center">
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Textos</a></li>
            <li><a href="#">Contato</a></li>
         </ul>
      </div>
   </nav>
   </div>
</header>
<app-carousel></app-carousel>
<div class="container-fluid">
   <div class="row">
      <div class="col mt-5 ms-5">
         <app-card></app-card>
      </div>
      <div class="col-8 mt-5 mr-5 blackground">
         <h1 class="mb-5 text-center">Lorem ipsum dolor sit.</h1>

         <p class="mr-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, animi iure error
            doloribus fuga voluptas ipsa similique, dolorum deserunt aliquid velit fugit, ducimus laudantium? Aspernatur
            sapiente consequuntur sint quasi officiis exercitationem animi ea vitae odit at tenetur dolore quia
            laudantium minus amet debitis harum cupiditate laborum deserunt, fugit rerum saepe. Modi, ea dicta molestias
            cum quos alias, repellendus voluptatum, doloremque officiis eum nulla placeat blanditiis quibusdam facilis
            earum aut voluptas repudiandae eligendi eos! Eligendi voluptatem aspernatur vitae earum repellendus beatae
            quidem unde dolores fuga sapiente, quo illum sed tempora, molestiae cupiditate laborum possimus, quam
            corporis. Voluptas nesciunt vitae id maiores.</p>
      </div>
   </div>
   

   <div class="row w-75 mx-auto mt-5 blackground">
      <h1 class="text-center mb-5">Algum texto</h1>

      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita explicabo nostrum
         consequatur nulla iusto atque quisquam quaerat veniam fugit eligendi mollitia voluptas molestiae, similique,
         perspiciatis, eveniet dolor ad natus aliquid repellendus obcaecati optio! Ipsa voluptates accusamus laudantium,
         quas error inventore omnis quae totam suscipit soluta quo corporis eveniet aperiam saepe?</p>
      <div class="col-10">
         <h3 class="obliqueSpan">Caio</h3>
      </div>
      <div class="col-2">
         <h3 class="obliqueSpan">16/05/2023</h3>
      </div>