
<section class="timeline_area section_padding_130">
  <div class="container mb-3">
      <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
              <!-- Section Heading-->
              <div class="section_heading text-center mt-5">
                
                  <h3><em style="font-size: 2.3rem">O caminho percorrido até aqui!</em></h3>
                  <h3><em style="font-size: 1.8rem">The road so far</em></h3>
                  <div class="line"></div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <!-- Timeline Area-->
              <div class="apland-timeline-area">
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                          <p>2023</p>
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Davinci Resolve, Angular Animations, API Restful on NodeJS and NextJS and GIT </h6>
                                      <p class="text-danger">Here we are! I'm honing my professional skills all the time, currently studying Angular animation modules at Alura and looking to enter the market!</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>RxJs, Forms in Angular, Angular life cycle and NodeJS</h6>
                                      <p>Here I decided to further develop my skills in Angular, learn more in depth about the framework to be able to ''do everything'' what I wanted to do. From here I have used many prompts prepared for academics to implement the study experience using artificial intelligence (AI ).</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Django REST and Django, Python concepts and programming logics such as object-oriented programming.</h6>
                                      <p>At this stage, I ventured into Python, to familiarize myself with the language and train my object-oriented skills, and I believe that acquiring the experience of exploring a different framework contains knowledge that is restricted to the curious..</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Structural and functional notion of ecommerce and Shopify</h6>
                                      <p>At this moment, i was building a Shopify website, and even got to learn basics of Liquid. I also learned about plugins and extensions and hosting.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Typescript, Java and HTTP Communication</h6>
                                      <p>At this moment I studied object orientation in Typescript and Java through books and videos, I also learned about the main HTTP communication methods in these languages ​​(HTTPClientModule and APIRestful)
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Single Timeline Content-->
                  <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                          <p>2022</p>
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Javascript, Bootstrap and Angular</h6>
                                      <p>At this point I was already addicted to learning about the web, I learned about Angular and it became my late nights, just like Bootstrap's puzzles.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>HTML/CSS e PHP</h6>
                                      <p>Here I started to go a little deeper, exploring PHP and HTML/CSS and paving my way to a better understanding of the web.

                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                  <div class="timeline-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                                  <div class="timeline-text">
                                      <h6>Programming Logics from Nélio Alves on Udemy</h6>
                                      <p>I started my journey here, with a Logic of Programming course from Professor Nélio Alves, one of the best university professors in Brazil.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>