<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{text.titulo}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{{text.subtitulo}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{text.data}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{text.tag}}</h6>
            <hr>
            <p class="card-text">{{ text.conteudo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  