<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, veniam?</h2>
            <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, porro!</h6>
            <hr>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt eligendi eum corrupti fugiat doloribus suscipit recusandae explicabo cupiditate, repellendus tenetur sint ducimus veniam iste et perferendis ut nemo quaerat placeat quam laboriosam! Placeat culpa eveniet aliquid ratione deleniti libero minus vel ex, quos perspiciatis minima quidem tempora explicabo error?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  