
h1 {
    font-size: 4.6rem;
}
p {
    font-size: 1.3rem;
    background-color: #313638;
    padding: 3rem;
    line-height: 2.5rem;
}
.box {
    background-color: #313638;
}

select {
    max-width: 25vh;
    text-align: center;
    font-size: 1.3rem;
}
