<div class="container row d-flex justify-content-start align-items-center mt-5">
    <div class="col-md-6">

        <h1 class="text-center mt-2"> {{text2}}<span class="text-danger">Angular?
        </span></h1>
        <div class="box">
            <h3 class="text-center">Contato</h3>
            <p class="p-1">Email: <span class="text-danger">dev.caio.marques@gmail.com</span></p>
            <p class="p-1">Celular: <span class="text-danger">+55 21 97402-6883</span></p>
            <p class="p-1"><a class="text-danger" href="linkedin.com">Linkedin</a></p>
            
        </div>
    </div>
    <div class="col-md-6 text-center">
        
        <h5 class="text-danger">Language</h5>
        <select class="mt-2 mb-2 form-select-sm mx-auto" aria-label="Disabled select example" [(ngModel)]="option" (change)="changeText()">
            <option value="option1">English</option>
            <option value="option2">Português</option>
          </select>
        <p>{{ text }}</p>
     
    </div>

</div>
