input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}
.container {

    height: 110vh;
}

select {
    color: black;
}
table {
    color: white;
    margin-bottom: 300px;
}
label {
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.3rem
}
input {
    margin-bottom: 0.5rem
}
textarea {
    padding: 1rem;
}
button {
    margin-left: 17rem;
    margin-top: 2rem;
}
select {
    padding: 0.8rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    margin-right: 0.7rem;
    
}