<div class="container">
    <h1>Criar Texto</h1>
  
    <form (submit)="addText()">
      <div class="form-group">
        <label for="tag">Tag:</label>
        <select class="form-control w-25 mx-auto" id="tag" [(ngModel)]="selectedTag" name="tag">
          <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control w-25 mx-auto" id="titulo" [(ngModel)]="text.titulo" name="titulo">
      </div>
  
      <div class="form-group">
        <label for="subtitulo">Subtítulo:</label>
        <input type="text" class="form-control w-25 mx-auto" id="subtitulo" [(ngModel)]="text.subtitulo" name="subtitulo">
      </div>
  
      <div class="form-group">
        <label for="conteudo">Conteúdo:</label>
        <textarea class="form-control w-25 mx-auto" id="conteudo" [(ngModel)]="text.conteudo" rows="10" name="conteudo"></textarea>
      </div>
  
      <button type="submit" class="btn btn-danger">Criar</button>
    </form>
  
    <h2>Textos</h2>
    <div class="table-container">
    <table class="table table-responsive">
        <thead>
          <tr>
            <th>Título</th>
            <th>Subtítulo</th>
            <th>Conteúdo</th>
            <th>Tag</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let text of texts; let i = index">
            <td>
              <input type="text" [(ngModel)]="text.titulo" name="titulo{{i}}" [disabled]="!text.editing" />
            </td>
            <td>
              <input type="text" [(ngModel)]="text.subtitulo" name="subtitulo{{i}}" [disabled]="!text.editing" />
            </td>
            <td>
              <textarea [(ngModel)]="text.conteudo" rows="3" name="conteudo{{i}}" [disabled]="!text.editing"></textarea>
            </td>
            <td>
              <select [(ngModel)]="text.tag" name="tag{{i}}" [disabled]="!text.editing">
                <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
              </select>
            </td>
            <td>
              <div *ngIf="!text.editing">
                <button class="btn btn-primary" (click)="text.editing = true">Editar</button>
                <button class="btn btn-danger" (click)="deleteText(i)">Excluir</button>
              </div>
              <div *ngIf="text.editing">
                <button class="btn btn-success" (click)="updateText(i)">Salvar</button>
                <button class="btn btn-secondary" (click)="text.editing = false">Cancelar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>
  